<!-- index.html -->

{% extends 'base.html' %}

{% block title %}List of Houses{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="filter-panel">
                    <h2>Filter Options</h2>

		            <form action="{{ url_for('index') }}" method="get">

                    	<!-- Building Address Filter -->
                    	<div class="form-group">
                            <label>Building Address:</label>
                            {% for address in unique_bldg_addresses %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="address_{{ address }}" name="bldg_address" value="{{ address }}" {% if address in request.args.getlist('bldg_address') %}checked{% endif %}>
                                    <label class="form-check-label" for="address_{{ address }}">{{ address }}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Bedrooms Filter -->
                        <div class="form-group">
                            <label>Bedrooms:</label>
                            {% for bedroom_count in unique_bedroom_counts %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="bedrooms_{{ bedroom_count }}" name="bedrooms" value="{{ bedroom_count }}" {% if bedroom_count|string in request.args.getlist('bedrooms') %}checked{% endif %}>
                                    <label class="form-check-label" for="bedrooms_{{ bedroom_count }}">{{ bedroom_count }}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Bathrooms Filter -->
                        <div class="form-group">
                            <label>Bathrooms:</label>
                            {% for bathroom_count in unique_bathroom_counts %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="bathrooms_{{ bathroom_count }}" name="bathrooms" value="{{ bathroom_count }}" {% if bathroom_count|string in request.args.getlist('bathrooms') %}checked{% endif %}>
                                    <label class="form-check-label" for="bathrooms_{{ bathroom_count }}">{{ bathroom_count }}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Furnishing Status Filter -->
                        <div class="form-group">
                            <label>Furnishing Status:</label>
                            {% for status in unique_furnishing_statuses %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="furnishing_{{ status }}" name="furnishing_status" value="{{ status }}" {% if status in request.args.getlist('furnishing_status') %}checked{% endif %}>
                                    <label class="form-check-label" for="furnishing_{{ status }}">{{ status }}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Price Filter -->
                        <div class="form-group">
                            <label for="max_price">Max Price:</label>
                            <input type="text" class="form-control" id="max_price" name="max_price" value="{{ request.args.get('max_price') }}">
                        </div>

                        <!-- Sq Footage Filter -->
                        <div class="form-group">
                            <label for="min_sq_footage">Min Sq Footage:</label>
                            <input type="text" class="form-control" id="min_sq_footage" name="min_sq_footage"  value="{{ request.args.get('min_sq_footage') }}">
                        </div>

                        <!-- Elevator Filter -->
                        <div class="form-group">
                            <label>Elevator:</label>
                            {% for status in unique_elevator_statuses %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="elevator_{{ status }}" name="elevator" value="{{ status }}" {% if status in request.args.getlist('elevator') %}checked{% endif %}>
                                    <label class="form-check-label" for="elevator_{{ status }}">{{ status }}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Laundry Filter -->
                        <div class="form-group">
                            <label>Laundry:</label>
                            {% for status in unique_laundry_statuses %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="laundry_{{ status }}" name="laundry" value="{{ status }}" {% if status in request.args.getlist('laundry') %}checked{% endif %}>
                                    <label class="form-check-label" for="laundry_{{ status }}">{{ status }}</label>
                                </div>
                            {% endfor %}
                        </div>

                        <!-- Distance to CU Filter -->
                        <div class="form-group">
                            <label for="max_dist_to_cu">Max Distance to CU:</label>
                            <input type="text" class="form-control" id="max_dist_to_cu" name="max_dist_to_cu" value="{{ request.args.get('max_dist_to_cu') }}">
                        </div>

                        <!-- Filter by Move-In Date -->
                        <div class="form-group">
                            <label>Filter by Move-In Date:</label>
                            {% if current_user.is_authenticated %}
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input" id="filter_move_in_date" name="filter_move_in_date" {% if request.args.get('filter_move_in_date') %}checked{% endif %}>
                                    <label class="form-check-label" for="filter_move_in_date">Move-In Date</label>
                                </div>
                            {% else %}
                                <div>
                                    <em>Log in to use this filter</em>
                                </div>
                            {% endif %}
                        </div>

                        <!-- New sorting options -->
                        <input type="hidden" name="sort_by" value="{{ sort_by }}">
                        <input type="hidden" name="order" value="{{ order }}">

                        <!-- Apply Filter Button -->
                        <button type="submit" class="btn btn-primary">Apply Filters</button>
		            </form>
		        </div>
            </div>

            <div class="col-md-9">
                <h1 class="page-heading">List of Houses</h1>

                <table class="table table-bordered">
                    <tr>
                        {% for column in ['flat_no', 'bldg_address', 'bedrooms', 'bathrooms', 'price', 'sq_footage', 'furnishing_status', 'safety_rating', 'elevator', 'laundry', 'dist_to_cu', 'availability_date'] %}
                            <th>
                                {% if column == 'availability_date' %}
                                    {{ column.replace('_', ' ').capitalize() }}
                                {% else %}
                                    <a href="{{ url_for('index', sort_by=column, order='asc' if sort_by != column or order == 'desc' else 'desc', **filter_params) }}">
                                        {{ column.replace('_', ' ').capitalize() }}
                                        {% if sort_by == column %}
                                            {% if order == 'asc' %}&uarr;{% else %}&darr;{% endif %}
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </th>
                        {% endfor %}
                        <th>Details</th>
                    </tr>

                    {% for house in houses %}
                        <tr>
                            <td>{{ house.flat_no }}</td>
                            <td>{{ house.bldg_address }}</td>
                            <td>{{ house.bedrooms }}</td>
                            <td>{{ house.bathrooms }}</td>
                            <td>{{ house.price }}</td>
                            <td>{{ house.sq_footage }}</td>
                            <td>{{ house.furnishing_status }}</td>
                            <td>{{ house.safety_rating }}</td>
                            <td>{{ 'Yes' if house.elevator else 'No' }}</td>
                            <td>{{ 'Yes' if house.laundry else 'No' }}</td>
                            <td>{{ house.dist_to_cu }}</td>
                            <td>{{ house.availability_date }}</td>
                            <td>
                                <button type="submit" class="btn btn-primary" onclick="window.location.href='{{ url_for('details', flat=house.flat_no, bldg=house.bldg_address.replace(' ', '_') ) }}';">Display Details</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
