<!-- index.html -->
{% extends 'base.html' %}

{% block title %}List of Houses{% endblock %}

{% block content %}
    <div class="navbar">
        <h1 class="page-heading">List of Houses</h1>
    </div>

    <table border="1">
        <tr>
            <th>Flat No</th>
            <th>Building Address</th>
            <th>Bedrooms</th>
            <th>Bathrooms</th>
            <th>Price</th>
            <th>Sq Footage</th>
            <th>Furnishing Status</th>
            <th>Availability Status</th>
        </tr>

        {% for house in houses %}
        <tr>
            <td>{{ house.flat_no }}</td>
            <td>{{ house.bldg_address }}</td>
            <td>{{ house.bedrooms }}</td>
            <td>{{ house.bathrooms }}</td>
            <td>{{ house.price }}</td>
            <td>{{ house.sq_footage }}</td>
            <td>{{ house.furnishing_status }}</td>
            <td>{{ house.availability_status }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

