<!-- rent_form.html -->
{% extends 'base.html' %}

{% block title %}Rent Form{% endblock %}

{% block content %}
    <div class="navbar">
        <h1 class="page-heading">Rent This House</h1>
    </div>

    <form method="post">
        <label for="lease_start_date">Lease Start Date:</label>
        <input type="date" name="lease_start_date" required>

        <label for="lease_end_date">Lease End Date:</label>
        <input type="date" name="lease_end_date" required>

        <input type="submit" value="Submit">
    </form>
{% endblock %}
